/* Set initial containers */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/*-------------------------------------------------------------------*/

/* Hide all state sections by default so they don't stack */
.state_section {
  display: none;
  width: 100vw;
  height: 100vh;
}

/* Tie section visibility to the "active" class */
.state_section.active {
  display: block;
}

/* Tells every border to draw inward from the box, not outward (which could cause overlap and sizing issues) */
* {
  box-sizing: border-box;
}
/*-------------------------------------------------------------------*/

.title_bar {
  width: 100vw;
  height: 25px; /*if I make this vh, I risk shrinking it to invisibility on smaller screens */
  padding: 25px;
  border-bottom: 2px solid black;
  margin-bottom: 3px;
}

.landing_pg {
  width: 100vw;
  height: 85vh;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 3px;
}

.next_btn {
  height: 40px;
}

.prev_btn {
  height: 40px;
}

.instruct_box {
  width: 30vw;
  height: 80vh;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  margin-bottom: 3px;
  float:left;
}

.map_container {
  width: 70vw;
  height: 80vh;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  margin-bottom: 3px;
  float:left;
  padding: 0;
  overflow: hidden;
}
.txt_box {
  width: 85vw;
  height: 15vh;
  border-top: 2px solid black;
  border-left: 2px solid black;
  float:right;
}